node_modules/.cache/default-development/9.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/5_.pack
node_modules/.cache/default-development/0_.pack
node_modules/node-sass/build/release/sass.a
